# Chainlink CRE CLI
CRE_ETH_PRIVATE_KEY=         # Ethereum private key for CRE CLI operations

# IPFS (Kubo RPC)
IPFS_PASSWORD=               # IPFS Kubo RPC Basic Auth password
PINATA_JWT=
# Vlayer
VLAYER_AUTH_TOKEN=            # Vlayer API authentication token

# Attestation only
ATTESTER_PRIVATE_KEY=        # Private key for signing attestation documents (ECDSA secp256k1)
ATTESTATION_PINATA_GROUP=    # Pinata group ID for attestation uploads (optional keep it empty)

# Verification only
VERIFIER_PRIVATE_KEY=        # Private key for signing verification documents (ECDSA secp256k1)
VERIFICATION_PINATA_GROUP=   # Pinata group ID for verification uploads (optional keep it empty)
